---
layout: default
title: Photo Gallery
---

<div></div>
    <h2>All Static Files</h2>
    <ul>
        {% for file in site.static_files %}
            <li>{{ file.path }}</li>
        {% endfor %}
    </ul>
</div>

<div class="gallery">
    {% assign images = site.static_files | where: "path", "img_gallery/" %}
    {% if images.size > 0 %}
        {% for image in images %}
            <img src="{{ image.path | relative_url }}" alt="{{ image.name }}">
        {% endfor %}
    {% else %}
        <p>No images found.</p>
    {% endif %}
</div>


