// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

.break {
    width: 25%;
    height: 2px;
    background-color: #000;
    // margin: 20px auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
