// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

.break {
    width: 25%;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}

.cv-page .classes-taken {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.cv-page .classes-taken .column {
    width: 48%;
    min-width: 300px;
}